web/WEB-INF/wsdl/localhost_32525/RestoBookService.svc.xsd_xsd3.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RestoBook.Model.Common.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/RestoBook.Model.Common.Models"><xs:import schemaLocation="http://localhost:32525/RestoBookService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><xs:complexType name="ArrayOfEmployee"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee"/></xs:sequence></xs:complexType><xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee"/><xs:complexType name="Employee"><xs:sequence><xs:element name="Email" nillable="true" type="xs:string"/><xs:element name="FirstName" nillable="true" type="xs:string"/><xs:element name="Id" type="xs:int"/><xs:element name="IsEnabled" type="xs:boolean"/><xs:element name="LastName" nillable="true" type="xs:string"/><xs:element name="Login" nillable="true" type="xs:string"/><xs:element name="Mobile" nillable="true" type="xs:string"/><xs:element name="Password" nillable="true" type="xs:string"/><xs:element name="RestaurantId" nillable="true" type="q1:ArrayOfint" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/></xs:sequence></xs:complexType><xs:element name="Employee" nillable="true" type="tns:Employee"/></xs:schema>